#user-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0d6efd;
    text-transform: uppercase;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #0d6efd;
    vertical-align: middle;
}
