@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Розробка з використаннямм ASP.NET Core</h1>
</div>

<h2 class="text-center">Зміст</h2>

<div class="text-center">
    <h3><a href="/Home/Introduction">Вступ</a></h3>
    <h3><a href="/Home/Razor">Razor</a></h3>
    <h3><a asp-action="IoC">IoC - Інверсія управління</a></h3>
    <h3><a asp-action="Db">Бази даних</a></h3>
    <h3><a asp-action="Rest">REST</a></h3>
    <h3><a href="/Home/Homeworks">Домашні завдання</a></h3>
    <h3><a asp-controller="Shop">Магазин</a></h3>
</div>
