<div class="text-center">
    <h1 class="display-4">Вступ до ASP.NET Core</h1>
</div>

<p>
    ASP - це технологія від Microsoft для створення динамічних веб-застосунків, яка працює на стороні сервера.
</p>