html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.product-images {
    text-align: center;
}

.product-images img {
    max-width: 90%;
    max-height: 300px;
}

.card-body {
    position: relative;
}

.card-fab {
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.card-fab .bi {
    transition: 0.1s ease-out;
}

.card-fab:hover .bi {
    transform: scale(1.4);
    color: white;
}

.product-img {
    height: 400px;
}

.editable-qnt {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 16px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: currentColor
}

.logout {
    margin-left: 15px;
}